---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

Here, you will find projects categorized by their respective domain/expertise.
Click on the project title to view more details.
<br />

<br />

<div class="accordion" id="projectAccordion">
    <!-- Space Mission Design -->
    <div class="card">
        <div class="card-header" id="headingSMD">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSMD"
                    aria-expanded="true" aria-controls="collapseSMD">
                    Space Mission Design
                </button>
            </h2>
        </div>
        <div id="collapseSMD" class="collapse show" aria-labelledby="headingSMD" data-parent="#projectAccordion">
            <div class="card-body">
                {% for post in site.projects %}
                {% if post.category == "SMD" %}
                {% include archive-single_custom.html %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Space Dynamics and Control -->
    <div class="card">
        <div class="card-header" id="headingSDC">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSDC"
                    aria-expanded="false" aria-controls="collapseSDC">
                    Space Dynamics and Control
                </button>
            </h2>
        </div>
        <div id="collapseSDC" class="collapse" aria-labelledby="headingSDC" data-parent="#projectAccordion">
            <div class="card-body">
                {% for post in site.projects %}
                {% if post.category == "SDC" %}
                {% include archive-single_custom.html %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Spacecraft GNC -->
    <div class="card">
        <div class="card-header" id="headingGNC">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseGNC"
                    aria-expanded="false" aria-controls="collapseGNC">
                    Spacecraft GNC
                </button>
            </h2>
        </div>
        <div id="collapseGNC" class="collapse" aria-labelledby="headingGNC" data-parent="#projectAccordion">
            <div class="card-body">
                {% for post in site.projects %}
                {% if post.category == "GNC" %}
                {% include archive-single_custom.html %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Teaching and Mentoring -->
    <div class="card">
        <div class="card-header" id="headingMEN">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseMEN"
                    aria-expanded="false" aria-controls="collapseMEN">
                    Teaching and Mentoring
                </button>
            </h2>
        </div>
        <div id="collapseMEN" class="collapse" aria-labelledby="headingMEN" data-parent="#projectAccordion">
            <div class="card-body">
                {% for post in site.projects %}
                {% if post.category == "MEN" %}
                {% include archive-single_custom.html %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>